.hindi-heading {
    display: flex;
    align-items: center;
}

.hindi-heading .horizontal {
    display: inline-block;
    width: 30px;
    height: 2px;
    vertical-align: middle;
    margin-right: 4px;
    background-color: #0033E7;
}

.hindi-heading h2 {
    font-size: 1.2rem;
    color: #0033E7;
}