@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section {
  height: 100vh;
  margin-top: 20px;
  overflow: auto;
}

.skills-section,
.experience-section {
  margin-top: 20px;
  overflow: auto;
  height: 70vh;
}

.parent-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
}

.left-child,
.right-child {
  flex: 1;
  padding: 0 30px;
}

.left-child h1 {
  font-size: 3rem;
  font-weight: 700;
}

.section-heading{
  font-size: 3rem;
  font-weight: 700;
}


.left-child p {
  font-weight: 400;
  font-size: 1.4rem;
  opacity: .5;
}

.left-child .break {
  display: block;
}

