@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section {
  height: 100vh;
  width: 100vw;
  margin-top: 40px;
}

.parent-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
}

.left-child,
.right-child {
  flex: 1;
}

.left-child h1 {
  font-size: 3rem;
  font-weight: 700;
}

.left-child h2 {
  font-size: 1.2rem;
}

.left-child p {
  font-weight: 400;
  font-size: 1.2rem;
  opacity: .5;
}